    .about-container {
        height: 100vh;
        width: 100%;
        position: relative;
        text-align: center;
        background-color: #eeeeee;
    }

    .background {
        flex: 0 0 30%;
    }

    .background > img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .content {
        flex: 0 0 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-title {
        flex: 0 0 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5% 0 0.5% 0;
        text-align: center;
        font-weight: 600;
        font-size: 2.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        border-radius: 10px;
        position: absolute;
        width: 100%;
        top: 2%;
        backdrop-filter: blur(4px);
    }


    .about-text {
        flex: 0 0 90%;
        font-size: 1.1rem;
        position: absolute;
        top: 10%;
        width: 80%;
        margin: 0 10% 0 10%;
        color: white;
        font-weight: 500;
        backdrop-filter: blur(2px) invert(26%);
    }