.requests, .remove-container  {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.req {
    border: 3px solid rgb(190, 27, 27);
    margin: 1% 2% 1% 2%;
    height: 6vh;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.req > span {
    flex: 0 0 19%;
}

.req-btns {
    display: flex;
    flex-direction: column;
    flex: 0 0 4%;
    padding-left: 0.5%;
}

.req-btns > button {
    border-radius: 4px;
    margin: 5px;
}

.a { background-color: #22bb33; }
.d { background-color: #bb2124; }

.a, .d {
    color: #ededed;
}